@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container justify-content-center">
    <h2>You Can Send an Email to Us</h2>




    <form class="my-2">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name">

            <label>Subject</label>
            <input type="text" class="form-control" placeholder="Subject">

            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Enter email">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" rows="5"></textarea>
        </div>


        <button type="submit" class="btn btn-primary">Send</button>
    </form>

    <hr class="my-4" />

    <div>
        <p><span class="font-weight-bold">Address: </span> Beylikdüzü/Osb</p>
    </div>
    <div>
        <p><span class="font-weight-bold">Phone: </span> 444 44 44</p>
    </div>





</div>
